<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        
        <form action="/create-task">
            <label for="desc">Enter Description: </label><br>
            <textarea name="desc" cols="80" rows="5" placeholder="Enter Your Task" id="desc"></textarea><br>
            <label for="category">Enter Category </label><br>
            <select name="category" id="category">
                <option value="Work">Work</option>
                <option value="School">School</option>
                <option value="Cleaning">Cleaning</option>
                <option value="Other">Other</option>
                
            </select><br>
            <label for="duedate">Enter Due Date</label><br>
            <input type="date" name="duedate" id="duedate"><br>
            <button type="submit">ADD TASK</button>
        
        </form>
    </body>
</html>