body{
    margin:0;
    
    /* background-color: #fef6e4; */
    
}




input[type=checkbox] {
  transform: scale(1.4);
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 17px;
  visibility: hidden;
}

input[type=checkbox]:after {
  content: " ";
  background-color: #fff;
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 2px;
  color: #001858;
  width: 22px;
  height: 25px;
  visibility: visible;
  border: 1px solid #001858;
  padding-left: 6px;
  border-radius: 5px;
}

input[type=checkbox]:checked:after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
}

#app-container{
    display:flex;
    width:55vw;
    /* border:1px solid black; */
    margin:auto;
    flex-direction: column;
    min-width: 400px;
}

#app-container>div{
    display:flex;
    /* border:1px solid black; */
}

#app-heading{
    justify-content: center;
}
#app-heading i{
    margin: 5px;   
}
#app-heading h1{
    font-family: sans-serif;
    color: #001858;

}

#add-form{
    width:100%;
}

#desc-input{
    display:flex;
    flex-direction: column;
    width:100%;
    /* border:1px solid black; */
    height: 80px;
}
#desc-input div{
    width:100%;
    /* border:1px solid black; */
}

#desc-input textarea{
    width: 98%;
    border:none;
    background-color: #f3d2c1;
    border-radius: 5px;
    outline: none;
    font-family: sans-serif;
    color: #001858;
    font-weight: 600;
    padding-top:10px;
    margin-top:3px
}

#date-cat-input{
    display:flex;
    flex-direction: row;
    width:100%;
    /* border:1px solid black; */
    /* height: 100px; */
    flex-wrap:wrap;
}
#date-cat-input div{
    
    width:49.5%;
    height:80px;
    /* border:1px solid black; */

}

#date-cat-input select,input{
    width:98%;
    height:50%;
    padding-top:5px;
    outline: none;
    background-color: #f3d2c1;
    border-radius: 5px;
    border: none;
    font-family: sans-serif;
    color: #001858;
    margin-top: 3px;
    
   
    font-weight: 600;
}



#btn-wrapper{
    display:flex;
    justify-content: center;
    width: 100%;
    /* border: 1px solid black; */
}
#btn-wrapper button{
    margin-left: -1.4%;
    margin-right: 1%;
}

.btn{
    background:none;
    border:2px solid #f582ae;
    font-family: sans-serif;
    border-radius: 3px;
    padding:12px 10px;
    cursor:pointer;
    color: #001858;
    font-weight:550;
    background-color: #f582ae;;
    height:60px;
    width: 140px;
    text-transform: uppercase;
    margin:5px;
    cursor:pointer;
    transition:color 0.3s linear;

}


#task-list{
    width:100%;
    /* border:1px solid red; */
    list-style-type: none;
    padding:0;
    display:flex;
    flex-direction: column;
}

.wrapper{
    display:flex;
    width:100%;
}

.card{
    
    width:88%;
    display:flex;
    background:#f3d2c1;
   
    text-align:2em;
    margin:10px 0px;
    border-radius:5px;
    font-family: sans-serif;
}
.card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: scale(1.01);
    transform: translateY(-2px);
    /* cursor: pointer; */
}

.profile-name{
    margin-top:10px;
    margin-left: 20px;
    margin-bottom:0;
    font-size:1.9em;
    line-height:1.1;
    letter-spacing: 1px;
    color: #001858;
}

/* .profile-name:after{
    content: '';
    display:block;
    height:1px;
    width:10em;
    background-color: #001858;
    margin:0.2em 10px 0.2em;
    opacity: 0.35;

} */

.profile-body{
    margin-left:20px;
    margin-top:-10px;
    font-size: 0.775rem;
    letter-spacing: 3px;
    color:#001858;
    opacity:0.7;

}

.profile-position{
    font-weight: 400;
    font-size: 1.1rem;
    margin-left: 20px;
    margin-top:5px;
    word-wrap:text-break;
    
    color: #001858;
    text-transform: capitalize;
}

.check-box{
    height:50px;
    width:50px;
    margin:auto ;
    /* border:1px solid black; */
}
















.btn:hover{
    color:#fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #001858;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #001858;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #001858;
  }

.ui-label{
    font-family: sans-serif;
    color:#001858;
    font-size: 1rem;
    font-weight: 650;
}